* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #142239;
    background-color: #fff;
}

.class-1 {
    font-family: 'Sonsie One', cursive;
    font-style: normal;
    font-weight: normal;
}

a,
a:hover {
    cursor: pointer !important;
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: 'PT Sans Narrow', sans-serif;
    border: none;
    outline: none;
    cursor: pointer !important;
}

input:hover,
button:hover {
    cursor: pointer !important;
    border: 0;
    outline: none;
}

input:focus,
button:focus {
    cursor: pointer !important;
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
    padding: 0 10px 0 10px;
}

@media (max-width: 1450px) {
    .container {
        max-width: 1400px;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
        padding: 0 15px 0 15px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 576px;
        padding: 0 20px 0 20px;
    }
}

.obj-title {
    margin-bottom: 80px;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 115%;
    text-transform: uppercase;
    color: #142239;
}

@media (max-width: 1300px) {
    .obj-title {
        margin-bottom: 50px;
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .obj-title {
        margin-bottom: 35px;
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .obj-title {
        font-size: 20px;
    }
}

.obj-title span {
    color: #CE2F27;
}

.btn-red {
    background: #CE2F27;
    box-shadow: -1px 1px 2px rgba(98, 35, 35, 0.2), 1px -1px 2px rgba(98, 35, 35, 0.2), -1px -1px 2px rgba(255, 141, 141, 0.9), 1px 1px 3px rgba(98, 35, 35, 0.9), inset 1px 1px 2px rgba(255, 141, 141, 0.3), inset -1px -1px 2px rgba(98, 35, 35, 0.5);
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.btn-red:hover {
    transition: 0.3s;
    background: #142239;
    box-shadow: none;
}


/* nav */

.navbar {
    background: #0C1B33;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
}

.navbar-brand {
    margin-right: 150px;
}

.nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
    padding: 0px !important;
    margin-right: 95px;
}

.nav-number {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 110%;
    color: #FFFFFF;
}

.nav-number::before {
    position: absolute;
    display: table;
    content: '';
    background-image: url(../img/nav/phone.svg);
    left: -45px;
    top: 5px;
    width: 31.5px;
    height: 32px;
}


/* nav */


/* header */

.header {
    position: relative;
    background: radial-gradient(57.4% 57.4% at 50% 50%, #617BA7 0%, #435B82 53.96%, #142239 100%);
    overflow: hidden;
    z-index: 0;
    padding-bottom: 30px;
}

.block-content {
    margin-top: 130px;
}

.title-header {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #142239;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 100.01%;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.36);
    margin-bottom: 150px;
}

.title-header span {
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 100%;
}

.shar-an {
    margin-top: 40px;
    margin-right: -35px;
    position: static;
    display: block;
    /* z-index: -1; */
    width: 750px;
    height: 720px;
    animation-name: rotation;
    animation-duration: 37s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.clients {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 115%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.36);
}

.clients span {
    color: #CE2F27;
}

.drop-down {
    animation-name: top-down;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes top-down {
    0% {
        transform: translateY(-13px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-13px);
    }
}


/* header */


/* we-know */

.we-know {
    padding: 120px 0 65px;
    z-index: 0;
}

.advantages-title {
    margin-bottom: 60px;
}

.advantages__item {
    width: 360px;
}

.advantages__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    color: #142239;
}

.advantages__info {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #142239;
    max-width: 360px;
}

.we-know-btn {
    width: 330px;
    height: 70px;
    transform: translateX(4%);
}

.big-shark {
    bottom: -250px;
    right: -145px;
    z-index: -1;
}


/* we-know */


/* cooperation */

.cooperation {
    padding: 55px 0 70px;
    background: #F4F9FF;
}

.cooperation-item {
    margin-right: 100px;
}

.cooperation-info {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    text-align: center;
    color: #142239;
}

.cooperation-info span {
    color: #CE2F27;
}


/* cooperation */


/* cases */

.cases {
    padding: 50px 0 50px;
}


/* cases */


/* services */


/* services */


/* request */

.request {
    padding: 65px 0 130px;
    background: #F4F9FF;
}

.services-info {
    width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

.input-services {
    background: #FFFFFF;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3), -1px -1px 2px rgba(199, 199, 199, 0.5), inset -1px 1px 2px rgba(199, 199, 199, 0.2), inset 1px -1px 2px rgba(199, 199, 199, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(199, 199, 199, 0.9);
    border-radius: 10px;
    width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    color: #C4C4C4;
    height: 60px;
    padding: 0 0 0 33px;
}

.btn-services {
    width: 360px;
    height: 60px;
}

.label-radio {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    font-size: 12px;
}

.real-radio {
    display: none;
}

.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    vertical-align: middle;
    cursor: pointer;
    background: #142239;
border-radius: 5px;
}

.custom-radio--text {
    font-weight: normal;
    font-size: 22px;
    line-height: 16px;
    width: auto;
}

.custom-radio img {
    right: 0;
    position: absolute;
    top: 0;
    transform: translate(-22%, 35%);
}

.label-radio input:checked+.custom-radio {
    background: #C40021;
}
/* request */


/* stages */

.stages {
    padding: 65px 0;
}

.ez-money {
    right: 0;
    bottom: 35px;
}

.stages-general-block {
    padding-left: 10px;
    margin-bottom: 75px;
}

.stages-element {
    margin-right: 80px;
    width: 145px;
}

.stages__number::after {
    position: absolute;
    display: table;
    content: '';
    width: 60px;
    height: 4px;
    background-image: url(../img/stages/dashed.png);
    top: 50%;
    right: -70px;
}

.stages__number {
    width: 144px;
    border-radius: 50%;
    border: 1px dashed #E0E0E0;
    height: 144px;
    padding: 4px;
}

.stages__number--back {
    background: #F4F9FF;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.stages-element__title {
    font-size: 120px;
    line-height: 110%;
    opacity: 0.7;
    color: #3B5175;
}

.stages-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #142239;
    width: 160px;
}


/* 1-shark */

.stages-general-block .stages-element:first-child .shark-head {
    width: 185px;
    top: 23px;
    right: -29px;
    z-index: 2;
}

.stages-general-block .stages-element:first-child .stages-element__title {
    top: 0px;
    right: 17px;
}

.stages-general-block .stages-element:first-child .red-line {
    top: 71px;
    right: -1px;
    z-index: 1;
}


/* 1-shark */


/* 2-shark */

.stages-general-block .stages-element:nth-child(2) .shark-head {
    width: 175px;
    top: 0px;
    right: -22px;
    z-index: 2;
}

.stages-general-block .stages-element:nth-child(2) .stages-element__title {
    top: -2px;
    right: 0px;
}

.stages-general-block .stages-element:nth-child(2) .red-line {
    top: 70px;
    right: -2px;
    z-index: 1;
}


/* 2-shark */


/* 3-shark */

.stages-general-block .stages-element:nth-child(3) .shark-head {
    width: 170px;
    top: 33px;
    right: -9px;
    z-index: 2;
}

.stages-general-block .stages-element:nth-child(3) .stages-element__title {
    top: 2px;
    right: 8px;
}

.stages-general-block .stages-element:nth-child(3) .red-line {
    top: 71px;
    right: -1px;
    z-index: 1;
}


/* 3-shark */


/* 4-shark */

.stages-general-block .stages-element:nth-child(4) .shark-head {
    width: 175px;
    top: 29px;
    right: -30px;
    z-index: 2;
}

.stages-general-block .stages-element:nth-child(4) .stages-element__title {
    top: 2px;
    right: 8px;
}

.stages-general-block .stages-element:nth-child(4) .red-line {
    top: 72px;
    right: 0px;
    z-index: 1;
}

.stages-general-block .stages-element:nth-child(4) .stages__number::after {
    display: none;
}


/* 4-shark */


/* -------------- */


/* 1-shark */

.stages-general-block-two .stages-element:first-child .shark-head {
    width: 155PX;
    top: 29px;
    right: -3px;
    z-index: 2;
}

.stages-general-block-two .stages-element:first-child .stages-element__title {
    top: 0px;
    right: 5px;
}

.stages-general-block-two .stages-element:first-child .red-line {
    top: 19px;
    right: -1px;
    z-index: 1;
}


/* 1-shark */


/* 2-shark */

.stages-general-block-two .stages-element:nth-child(2) .shark-head {
    width: 175px;
    top: 0px;
    right: -22px;
    z-index: 2;
}

.stages-general-block-two .stages-element:nth-child(2) .stages-element__title {
    top: -2px;
    right: 0px;
}

.stages-general-block-two .stages-element:nth-child(2) .red-line {
    top: 0px;
    right: -1px;
    z-index: 1;
}


/* 2-shark */


/* 3-shark */

.stages-general-block-two .stages-element:nth-child(3) .shark-head {
    width: 170px;
    top: 23px;
    right: -12px;
    z-index: 2;
}

.stages-general-block-two .stages-element:nth-child(3) .stages-element__title {
    top: 2px;
    right: 8px;
}

.stages-general-block-two .stages-element:nth-child(3) .red-line {
    top: 0px;
    right: -1px;
    z-index: 1;
}


/* 3-shark */


/* 4-shark */

.stages-general-block-two .stages-element:nth-child(4) .shark-head {
    width: 140px;
    top: 6px;
    right: 41px;
    z-index: 2;
}

.stages-general-block-two .stages-element:nth-child(4) .stages-element__title {
    top: 2px;
    right: 3px;
}

.stages-general-block-two .stages-element:nth-child(4) .stages__number::after {
    display: none;
}

.stages-general-block-two .stages-element:nth-child(4) .stages__number {
    border: 2px solid #CE2F27;
}


/* 4-shark */


/* stages */


/* stock */

.stock {
    padding: 55px 0 65px 0;
    background: #F4F9FF;
}
.stock-block{
}
.stock-item{
background: #FFFFFF;
border-radius: 0px 20px;
padding: 6px;
width: 360px;
height: 445px;
position: relative;
z-index: 11;
}
.stock-element{
    border: 2px solid #142239;
    border-radius: 0px 20px;
    height: 100%;
background: #FFFFFF;
    z-index: 10;
}
.stock-individ-element::before {
    position: absolute;
    content: '';
    display: table;
    background-image: url(../img/stock/1-1-element.png);
    width: 60px;
    height: 22px;
    top: -7px;
    left: 146px;
    background-repeat: no-repeat;
}
.stock-individ-element::after {
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    display: table;
    background-image: url(../img/stock/1-2-element.png);
    width: 31px;
    height: 61px;
    top: 135px;
    left: 8px;
}
.stock-text{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 100%;
text-align: center;
}
.stock-text span{
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    }
    .stock-btn{
        max-width: 315px;
        width: 100%;
        padding: 17px 0;
    }
    .stock-decor-one {
        transform: rotate( 
    315deg
     );
        top: 27px;
        left: -66px;
        border-bottom: 65px solid #CE2F27;
        border-left: 64px solid transparent;
        border-right: 65px solid transparent;
        width: 250px;
        height: 0;
        box-shadow: 2px 12px 4px -10px rgb(50 50 50 / 75%);
        z-index: 15;
    }
    .stock-decor-one--element{
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 110%;
color: #FFFFFF;
transform: translateY(15%);
    }

    .stock-element-two {
        border-radius: 20px 0px;
    }
    .stock-item-two{
        border-radius: 20px 0px;
    }
    .stock-present{
        top: 0;
        right: 0;
        z-index: 20;
    }
    .stock-element-three {
        border-radius: 20px 20px 0px 0px;
        z-index: 0;
    }
    .stock-item-three{
        border-radius: 20px 20px 0px 0px;
        z-index: 0;
    }
.sale-stock{
    top: 0;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);
}
.sale-long{
    top: 0;
    left: 50%;
    transform: translateX(-51%);

}
.stock-img-three{
    width: 215px;
}

/* stock */
/* business */
.business{
    padding: 60px 0 65px;
}
.businness-subblock{
    background: #142239;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
padding: 20px 0 25px 0;
max-width: 485px;
height: 545px;
width: 100%;
}
.businness-subblock--title{
    width: fit-content;
    background: #F6F6F6;
box-shadow: -1px 1px 2px rgba(255, 255, 255, 0.3), 1px -1px 2px rgba(98, 98, 98, 0.5), inset 1px 1px 2px rgba(98, 98, 98, 0.2), inset -1px -1px 2px rgba(98, 98, 98, 0.2), inset 1px -1px 2px rgba(255, 255, 255, 0.9), inset -1px 1px 3px rgba(98, 98, 98, 0.9);
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 110%;
text-align: center;
color: #142239;
padding: 7px 50px;
}
.businness-subblock--title span{
    color: #CE2F27;
}
.businness-img-wrapper{
    background: #F4F9FF;
border-radius: 5px;
width: 53px;
height: 53px;
}
.info-business--text{
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 100%;
color: #FFFFFF;
}
.businness-subblock--two{
    background: #F4F9FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.info-business--text__two{
    color: #142239;
}
.business-img-wrapper--two{
    background: #FFFFFF;
}
.businness-big-pic{
    right: 0;
   bottom: 50px;
}
/* business */
/* about-us */
.about-us{
    padding: 75px 0;
    background: #F4F9FF;
}
.about-us--text{
    max-width: 705px;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 120%;
}
.about-picture {
    right: 71px;
    top: 115px;
}
/* about-us */
/* our-clients */
.our-clients{
padding: 60px 0;
}
/* our-clients */
/* footer */
.footer{
padding: 80px 0 95px;
background: #142239;
}
.footer-logo{
}
.footer-list-item{
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 110%;
color: #F4F9FF;
}
.footer-list-item span{
    font-weight: bold;
    }
/* footer */

